[Unit]
Description=Trigger writeback on /dev/%i
DefaultDependencies=false
ConditionPathExists=/sys/block/%i/writeback

[Timer]
OnActiveSec=10min
AccuracySec=10s
FixedDelaySec=10s

[Install]
WantedBy=timers.target
