[Unit]
Description=Trigger writeback on /dev/%i
DefaultDependencies=false
ConditionPathExists=/sys/block/%i/idle

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/echo 600 > /sys/block/%i/writeback"
