[Unit]
Description=Sets mem_limit to /dev/%i
After=dev-%i.device
ConditionPathExists=/sys/block/%i/mem_limit

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo 12G > /sys/block/%i/mem_limit"

[Install]
WantedBy=multi-user.target
