[Unit]
Description=Trigger writeback on /dev/%i
DefaultDependencies=false
ConditionPathExists=/sys/block/%i/idle
After=zram-writeback-idle@%i.service
Requires=zram-writeback-idle@%i.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/echo huge_idle > /sys/block/%i/writeback"
