[Unit]
Description=Mark pages in /dev/%i as idle
DefaultDependencies=false
ConditionPathExists=/sys/block/%i/idle

[Timer]
OnActiveSec=10min
AccuracySec=10s
FixedDelaySec=10s

[Install]
WantedBy=timers.target
