[Unit]
Description=Mark pages in /dev/%i as idle
DefaultDependencies=false
ConditionPathExists=/sys/block/%i/idle

[Timer]
OnBootSec=10min
OnUnitInactiveSec=10min
AccuracySec=10s
RandomizedDelaySec=10s
FixedRandomDelay=true

[Install]
WantedBy=timers.target
